/* Custom font for better aesthetics */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
  body {
    font-family: 'Inter', sans-serif;
}
/* Custom styles for active button state */
.status-button.active {
    background-color: #4f46e5; /* Deeper indigo for active state */
    color: white;
    border-color: #4f46e5;
    box-shadow: 0 4px 14px 0 rgba(79, 70, 229, 0.2); /* Subtle shadow for active state */
}

#message-display {
    white-space: pre-wrap; /* Add this line */
}